{
  "openapi": "3.1.0",
  "info": {
    "title": "Ringup API",
    "version": "v1",
    "description": "Take a card payment on a phone call. Every endpoint is authenticated with a Bearer API key; the key prefix (`rk_test_` / `rk_live_`) selects the environment."
  },
  "servers": [
    {
      "url": "https://api.ringup.dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "rk_live_…"
      }
    },
    "schemas": {
      "AdviceCode": {
        "description": "R38 `advice_code` — OUR guidance to the DEVELOPER on what to do with this decline programmatically. Distinct from `agent_action`, which drives the CONVERSATION. A decline can be \"don't retry this card\" (advice) while still being \"offer a different card\" (agent action).\n\nLayering note: Stripe IS the processor, so their raw layer is the card network (`network_decline_code`). Ringup sits ON TOP of processors, so our raw layer is the processor (`processor_code`). Same two-layer shape, correct floor for where we sit. We never see the network, so we deliberately do NOT ship empty network_* fields.",
        "enum": [
          "try_again_later",
          "do_not_try_again",
          "confirm_card_data"
        ],
        "type": "string"
      },
      "AgentAction": {
        "description": "What the agent should DO next. Keeps conversational branching deterministic too.",
        "enum": [
          "retry_card",
          "offer_different_card",
          "send_link",
          "end_call",
          "escalate"
        ],
        "type": "string"
      },
      "ApiErrorBody": {
        "additionalProperties": false,
        "description": "THE error object. Identical on every endpoint: provisioning, identify, checkout, cards, charge. A failed charge (which arrives as a 200 with `status: \"failed\"`) carries the SAME fields under `failure`, so a developer writes one parser and it works everywhere.",
        "properties": {
          "error": {
            "additionalProperties": false,
            "properties": {
              "advice_code": {
                "$ref": "#/components/schemas/AdviceCode",
                "description": "try_again_later | confirm_card_data | do_not_try_again"
              },
              "agent_action": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/AgentAction"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Null on every `developer`-audience error: see agent_message."
              },
              "agent_message": {
                "description": "Speak verbatim WHEN NON-NULL. Null on every `developer`-audience error.",
                "type": [
                  "string",
                  "null"
                ]
              },
              "audience": {
                "$ref": "#/components/schemas/Audience",
                "description": "Who this error is for. Drives whether there is anything to speak at all."
              },
              "charge": {
                "description": "Present when the error concerns a specific charge.",
                "type": "string"
              },
              "code": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "decline_code": {
                "type": "string"
              },
              "display_message": {
                "description": "The same fact written for a screen. Null on `developer`-audience errors.",
                "type": [
                  "string",
                  "null"
                ]
              },
              "doc_url": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "param": {
                "type": "string"
              },
              "processor_code": {
                "type": "string"
              },
              "request_id": {
                "type": "string"
              },
              "request_log_url": {
                "description": "Deep link to this request in the dashboard. Present once the dashboard log view exists.",
                "type": "string"
              },
              "type": {
                "$ref": "#/components/schemas/ErrorType"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "Audience": {
        "description": "WHO an error is for. The envelope was built for the payment moment, where an agent must say something, and every other error was then forced through the same speech fields: a malformed request would tell a caller \"I'm having trouble taking payment\", about a bug the caller has no part in, and then escalate a call that had nothing wrong with it (Atif, 2026-07-21).\n\n`developer` errors carry NO speakable copy. Not a neutral filler sentence: null. A filler invites an agent to mention payment when nothing about payment has failed.",
        "enum": [
          "developer",
          "caller"
        ],
        "type": "string"
      },
      "ChargeRequest": {
        "additionalProperties": false,
        "properties": {
          "checkout_session_id": {
            "type": "string"
          },
          "instrument_id": {
            "description": "Required, never defaulted. The caller verbally agreed to a SPECIFIC card, so an implicit default is how a misheard \"use my other one\" charges the wrong one.",
            "type": "string"
          }
        },
        "required": [
          "checkout_session_id",
          "instrument_id"
        ],
        "type": "object"
      },
      "ChargeResponse": {
        "additionalProperties": false,
        "properties": {
          "amount_cents": {
            "type": "number"
          },
          "charge_id": {
            "type": "string"
          },
          "checkout_session_id": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "merchant_id": {
            "type": "string"
          },
          "order_id": {
            "description": "Also the confirmation number the agent reads back: it is the MERCHANT's, not ours.",
            "type": [
              "string",
              "null"
            ]
          },
          "platform_call_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "processor_payment_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "replay": {
            "description": "True when this exact charge already happened and you are seeing the original.",
            "type": "boolean"
          },
          "status": {
            "$ref": "#/components/schemas/ChargeStatus"
          }
        },
        "type": "object"
      },
      "ChargeStatus": {
        "description": "`created` is deliberate: it says what WE know, that a charge record exists and the processor has not confirmed. `pending` would assert something about their state we were never told, and reads as \"stuck\" (Atif, 2026-07-21).",
        "enum": [
          "created",
          "completed",
          "failed"
        ],
        "type": "string"
      },
      "CheckoutSessionResponse": {
        "additionalProperties": false,
        "properties": {
          "amount_cents": {
            "type": "number"
          },
          "charge": {
            "anyOf": [
              {
                "additionalProperties": false,
                "properties": {
                  "amount_cents": {
                    "type": "number"
                  },
                  "charge_id": {
                    "type": "string"
                  },
                  "processor_payment_id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "status": {
                    "$ref": "#/components/schemas/ChargeStatus"
                  }
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ]
          },
          "checkout_session_id": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "merchant_id": {
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ]
          },
          "order_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "payment_required": {
            "$ref": "#/components/schemas/PaymentRequired"
          },
          "platform_call_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "return_to": {
            "type": [
              "string",
              "null"
            ]
          },
          "session_status": {
            "description": "Named for the object it describes: the CHARGE has its own `status` below.",
            "enum": [
              "open",
              "complete",
              "expired"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateCheckoutRequest": {
        "additionalProperties": false,
        "properties": {
          "amount_cents": {
            "description": "Required only when there is no `order_id`. Never trusted over an order.",
            "type": "number"
          },
          "caller_phone": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "failure_message": {
            "description": "Spoken after a failed one.",
            "type": "string"
          },
          "merchant_id": {
            "type": "string"
          },
          "metadata": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Your own key/value pairs. Opaque to Ringup: stored, echoed, never interpreted.",
            "type": "object"
          },
          "order_id": {
            "description": "The merchant's POS order. THE amount authority when present.",
            "type": "string"
          },
          "platform_call_id": {
            "description": "The voice platform's id for this call. Functional, not metadata: we call the platform with it to verify caller attestation. Recommended.",
            "type": "string"
          },
          "return_to": {
            "description": "Where to send the caller back after payment.",
            "type": "string"
          },
          "success_message": {
            "description": "Spoken after a successful payment.",
            "type": "string"
          }
        },
        "required": [
          "merchant_id",
          "caller_phone"
        ],
        "type": "object"
      },
      "CreateCheckoutResponse": {
        "additionalProperties": false,
        "properties": {
          "amount_cents": {
            "description": "What we RESOLVED. Under the order model the total is derived, so we must return it.",
            "type": "number"
          },
          "amount_source": {
            "description": "Where the total came from, so a derived amount is visibly derived.",
            "enum": [
              "order",
              "request"
            ],
            "type": "string"
          },
          "cards": {
            "description": "Cards chargeable AT THIS MERCHANT, newest first. Handle-aware, not merely silo-aware: a Clover card enrolled at merchant A has no charge handle at merchant B, and offering it would fail at charge after the caller had already agreed to it. Empty means text a link.",
            "items": {
              "$ref": "#/components/schemas/SavedCard"
            },
            "type": "array"
          },
          "checkout_session_id": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "default_card_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "expires_at": {
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ]
          },
          "payment_required": {
            "$ref": "#/components/schemas/PaymentRequired"
          },
          "transfer_to": {
            "description": "Null unless payment is required. Nothing to transfer to means do not transfer.",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "CreateWebhookEndpointRequest": {
        "additionalProperties": false,
        "properties": {
          "events": {},
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateWebhookEndpointResponse": {
        "additionalProperties": false,
        "properties": {
          "events": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ]
          },
          "signing_secret": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "webhook_endpoint_id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorCode": {
        "enum": [
          "invalid_json",
          "missing_required_fields",
          "invalid_value",
          "invalid_key",
          "vendor_not_provisioned",
          "merchant_not_found",
          "merchant_not_connected",
          "invalid_processor",
          "invalid_credentials",
          "invalid_payment_policy",
          "invalid_payment_policy_amount_cents",
          "session_not_found",
          "session_expired",
          "session_create_failed",
          "session_missing_consumer",
          "missing_checkout_session_id",
          "amount_mismatch",
          "order_lookup_failed",
          "order_lookup_unsupported",
          "instrument_not_found",
          "instrument_not_authorized",
          "missing_instrument_fields",
          "processor_mismatch",
          "needs_enrollment",
          "charge_details_mismatch",
          "card_save_failed",
          "card_declined",
          "processor_unavailable",
          "merchant_credentials_invalid",
          "invalid_vault",
          "key_not_found",
          "invalid_environment",
          "invalid_url",
          "invalid_events",
          "invalid_ttl",
          "invalid_state_key",
          "not_found",
          "not_configured",
          "rate_limit",
          "internal_error"
        ],
        "type": "string"
      },
      "ErrorType": {
        "enum": [
          "invalid_request_error",
          "authentication_error",
          "permission_error",
          "processor_error",
          "idempotency_error",
          "rate_limit_error",
          "api_error"
        ],
        "type": "string"
      },
      "IdentifiedConsumer": {
        "additionalProperties": false,
        "properties": {
          "email": {
            "description": "For the merchant's own workflows (receipts, follow-ups). Not for the agent to say aloud.",
            "type": [
              "string",
              "null"
            ]
          },
          "first_name": {
            "description": "Stored as parts because the pay page collects them as parts.",
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "type": "string"
          },
          "last_name": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "IdentifyRequest": {
        "additionalProperties": false,
        "description": "R53: the wire contracts, agreed with Atif field by field before implementation.\n\nOne name per concept. One card shape everywhere. Every response echoes the developer's own identifiers so reconciliation never needs a second call.",
        "properties": {
          "caller_phone": {
            "description": "E.164. The body is the ONLY place this lives: a header carried no cryptographic guarantee (it is unsigned, so it is safer only against the model, not against a caller), and one value in two places is an ambiguity every consumer has to reason about.",
            "type": "string"
          }
        },
        "required": [
          "caller_phone"
        ],
        "type": "object"
      },
      "IdentifyResponse": {
        "additionalProperties": false,
        "properties": {
          "consumer": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/IdentifiedConsumer"
              },
              {
                "type": "null"
              }
            ]
          },
          "known": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ListWebhookEndpointsResponse": {
        "additionalProperties": false,
        "properties": {
          "webhook_endpoints": {
            "items": {
              "$ref": "#/components/schemas/WebhookEndpointSummary"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PaymentRequired": {
        "enum": [
          "required",
          "optional",
          "none"
        ],
        "type": "string"
      },
      "SavedCard": {
        "additionalProperties": false,
        "properties": {
          "brand": {
            "type": "string"
          },
          "expiry": {
            "type": "string"
          },
          "instrument_id": {
            "description": "The value `charge` requires.",
            "type": "string"
          },
          "last_four": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SendLinkRequest": {
        "additionalProperties": false,
        "properties": {
          "checkout_session_id": {
            "description": "The only input. Caller, merchant, amount and verdict all come from the session, so a link can never carry a total nobody derived from an order.",
            "type": "string"
          }
        },
        "required": [
          "checkout_session_id"
        ],
        "type": "object"
      },
      "SendLinkResponse": {
        "additionalProperties": false,
        "properties": {
          "checkout_session_id": {
            "type": "string"
          },
          "merchant_id": {
            "type": "string"
          },
          "order_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "pay_url": {
            "type": "string"
          },
          "payment_required": {
            "$ref": "#/components/schemas/PaymentRequired"
          },
          "platform_call_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "sent": {
            "description": "False when a repeat send inside the dedupe window returned a link WITHOUT texting. Without this a retrying agent tells the caller \"I've texted you\" when nothing went out.",
            "type": "boolean"
          },
          "short_url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebhookEndpointSummary": {
        "additionalProperties": false,
        "properties": {
          "created_at": {
            "type": "string"
          },
          "events": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "null means every event type."
          },
          "url": {
            "type": "string"
          },
          "webhook_endpoint_id": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  },
  "paths": {
    "/v1/identify": {
      "post": {
        "operationId": "identify",
        "summary": "Recognize a caller",
        "description": "Look a caller up by phone number. Returns who they are, never what they can pay with: cards depend on a merchant this endpoint never sees.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json` The request body is not valid JSON.\n\n`missing_required_fields` A required parameter is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/create_checkout": {
      "post": {
        "operationId": "createCheckout",
        "summary": "Create a checkout session",
        "description": "Resolve the amount, apply the merchant's payment policy, and return the transfer target when payment is required.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json` The request body is not valid JSON.\n\n`missing_required_fields` A required parameter is missing.\n\n`invalid_value` A parameter was present but its value is not acceptable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "`merchant_not_found` No merchant with that id belongs to your account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "`amount_mismatch` The amount sent does not match the authoritative total on the referenced processor order. The order always wins; the amount is never taken on trust.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "422": {
            "description": "`order_lookup_unsupported` This processor cannot resolve an order total by reference.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "424": {
            "description": "`order_lookup_failed` The processor could not be reached to resolve the order total.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout_sessions/{checkout_session_id}": {
      "get": {
        "operationId": "getCheckoutSession",
        "summary": "Retrieve a checkout session",
        "description": "Read a session and its charge. A lookup, so a decline reads as 200 with a failed charge.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "checkout_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "`not_found` No route matches this path and method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge": {
      "post": {
        "operationId": "charge",
        "summary": "Charge a saved card",
        "description": "Charge the card the caller chose against an open Checkout Session. A decline is a 402 in the standard error envelope, not a 200 result.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json` The request body is not valid JSON.\n\n`missing_required_fields` A required parameter is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "402": {
            "description": "`card_declined` The issuer declined the charge. `decline_code` carries the specific reason where the issuer gave one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "`session_not_found` No checkout session with that id belongs to your account.\n\n`instrument_not_found` No saved card with that id belongs to this caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "`processor_mismatch` That saved card cannot be charged at this merchant, because it lives in a different processor's wallet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "`session_expired` The checkout session passed its expiry and can no longer be paid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "422": {
            "description": "`merchant_not_connected` The merchant exists but has not finished connecting their payment processor, so no charge can settle.\n\n`merchant_credentials_invalid` The merchant's stored processor credentials were rejected, so nothing can settle.\n\n`needs_enrollment` The caller has no card on file usable at this merchant, so there is nothing to charge. Expected for a first-time caller at a per-merchant processor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "424": {
            "description": "`processor_unavailable` The merchant's payment processor is unreachable or returned a server error. Not a Ringup outage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limit` Too many requests in a short window.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/send_link": {
      "post": {
        "operationId": "sendLink",
        "summary": "Send a pay link",
        "description": "Text the caller a pay link for an open Checkout Session. Repeat sends inside a short window return the link with `sent: false` rather than texting twice.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json` The request body is not valid JSON.\n\n`missing_required_fields` A required parameter is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "`session_not_found` No checkout session with that id belongs to your account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "`not_configured` A required backend dependency is not configured in this environment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook_endpoints": {
      "post": {
        "operationId": "createWebhookEndpoint",
        "summary": "Create a webhook endpoint",
        "description": "Register an HTTPS endpoint for signed events. The signing secret is returned once.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookEndpointRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWebhookEndpointResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json` The request body is not valid JSON.\n\n`missing_required_fields` A required parameter is missing.\n\n`invalid_value` A parameter was present but its value is not acceptable.\n\n`invalid_events` `events` contains an unsupported event type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listWebhookEndpoints",
        "summary": "List webhook endpoints",
        "description": "List your registered webhook endpoints. Secrets are never returned again.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhookEndpointsResponse"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    }
  }
}
