{
  "openapi": "3.1.0",
  "info": {
    "title": "Ringup API",
    "version": "v1",
    "description": "Take a card payment on a phone call. Every endpoint is authenticated with a Bearer API key; the key prefix (`rk_test_` / `rk_live_`) selects the environment."
  },
  "servers": [
    {
      "url": "https://api.ringup.dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "rk_live_…"
      }
    },
    "schemas": {
      "AdviceCode": {
        "description": "`advice_code` is our guidance to the developer on what to do with this decline programmatically. It is distinct from `agent_action`, which drives the conversation. A decline can be \"do not retry this card\" (advice) while still being \"offer a different card\" (agent action).",
        "enum": [
          "try_again_later",
          "do_not_try_again",
          "confirm_card_data"
        ],
        "type": "string"
      },
      "AgentAction": {
        "description": "What the agent should DO next. Keeps conversational branching deterministic too.",
        "enum": [
          "retry_card",
          "offer_different_card",
          "send_link",
          "end_call",
          "escalate"
        ],
        "type": "string"
      },
      "ApiErrorBody": {
        "additionalProperties": false,
        "description": "THE error object. Identical on every endpoint: provisioning, identify, checkout, cards, charge. A failed charge (which arrives as a 200 with `status: \"failed\"`) carries the SAME fields under `failure`, so a developer writes one parser and it works everywhere.",
        "properties": {
          "error": {
            "additionalProperties": false,
            "properties": {
              "advice_code": {
                "$ref": "#/components/schemas/AdviceCode",
                "description": "try_again_later | confirm_card_data | do_not_try_again"
              },
              "agent_action": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/AgentAction"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Null on every `developer`-audience error: see agent_message."
              },
              "agent_message": {
                "description": "Speak verbatim WHEN NON-NULL. Null on every `developer`-audience error.",
                "type": [
                  "string",
                  "null"
                ]
              },
              "audience": {
                "$ref": "#/components/schemas/Audience",
                "description": "Who this error is for. Drives whether there is anything to speak at all."
              },
              "charge": {
                "description": "Present when the error concerns a specific charge.",
                "type": "string"
              },
              "code": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "decline_code": {
                "type": "string"
              },
              "display_message": {
                "description": "The same fact written for a screen. Null on `developer`-audience errors.",
                "type": [
                  "string",
                  "null"
                ]
              },
              "doc_url": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "param": {
                "type": "string"
              },
              "processor_code": {
                "type": "string"
              },
              "request_id": {
                "type": "string"
              },
              "request_log_url": {
                "description": "Deep link to this request in the dashboard. Present once the dashboard log view exists.",
                "type": "string"
              },
              "type": {
                "$ref": "#/components/schemas/ErrorType"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "Audience": {
        "description": "Who an error is for.\n\n`caller` errors are things the person on the phone is living through, so they carry copy your agent can speak. `developer` errors are your integration's own bugs, and carry NO speakable copy at all: the fields are null rather than a neutral filler, because a filler sentence invites an agent to raise payment when nothing about payment has failed.",
        "enum": [
          "developer",
          "caller"
        ],
        "type": "string"
      },
      "ChargeRequest": {
        "additionalProperties": false,
        "properties": {
          "checkout_session_id": {
            "type": "string"
          },
          "instrument_id": {
            "description": "Required, never defaulted. The caller verbally agreed to a SPECIFIC card, so an implicit default is how a misheard \"use my other one\" charges the wrong one.",
            "type": "string"
          }
        },
        "required": [
          "checkout_session_id",
          "instrument_id"
        ],
        "type": "object"
      },
      "ChargeResponse": {
        "additionalProperties": false,
        "properties": {
          "amount_cents": {
            "type": "number"
          },
          "charge_id": {
            "type": "string"
          },
          "checkout_session_id": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "merchant_id": {
            "type": "string"
          },
          "order_id": {
            "description": "Also the confirmation number the agent reads back: it is the MERCHANT's, not ours.",
            "type": [
              "string",
              "null"
            ]
          },
          "platform_call_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "processor_payment_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "replay": {
            "description": "True when this exact charge already happened and you are seeing the original.",
            "type": "boolean"
          },
          "status": {
            "$ref": "#/components/schemas/ChargeStatus"
          }
        },
        "type": "object"
      },
      "ChargeStatus": {
        "description": "Where a charge stands.\n\n`pending` means the charge is not settled: the processor has not confirmed an outcome, and it may or may not have taken the payment. Do NOT start another payment for the same order. We resolve it for you and the result arrives on the webhook.\n\n`completed` and `failed` are settled and final.",
        "enum": [
          "pending",
          "succeeded",
          "failed"
        ],
        "type": "string"
      },
      "CheckoutSessionResponse": {
        "additionalProperties": false,
        "properties": {
          "amount_cents": {
            "type": "number"
          },
          "business_name": {
            "description": "The merchant's own business name for the pay page header, or null (neutral fallback).",
            "type": [
              "string",
              "null"
            ]
          },
          "caller_first_name": {
            "description": "The caller's first name when they are a known person, so a payment line can greet them the same way the pay page does. Null for a genuinely unknown caller. Identity only: whether a card exists is a separate question answered by `cards`.",
            "type": [
              "string",
              "null"
            ]
          },
          "cards": {
            "description": "Cards chargeable AT THIS MERCHANT, newest first, the same shape create_checkout returns. Present so a payment line holding only the checkout token can offer the saved card from this read. Empty when no payment is required or the session is already settled or expired.",
            "items": {
              "$ref": "#/components/schemas/SavedCard"
            },
            "type": "array"
          },
          "charge": {
            "anyOf": [
              {
                "additionalProperties": false,
                "properties": {
                  "amount_cents": {
                    "type": "number"
                  },
                  "charge_id": {
                    "type": "string"
                  },
                  "processor_payment_id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "status": {
                    "$ref": "#/components/schemas/ChargeStatus"
                  }
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ]
          },
          "checkout_session_id": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "default_card_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "environment": {
            "description": "The environment this session belongs to: the mode of the checkout token used to read it (`test` or `live`). It is the single source of truth for a hosted page, which renders its config in this environment rather than re-deriving it, so `business_name` and `tokenization` below are always computed here and cannot drift to the wrong environment.",
            "enum": [
              "test",
              "live"
            ],
            "type": "string"
          },
          "failure_message": {
            "type": [
              "string",
              "null"
            ]
          },
          "merchant_id": {
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ]
          },
          "order_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "payment_required": {
            "$ref": "#/components/schemas/PaymentRequired"
          },
          "platform_call_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "processor": {
            "description": "The merchant's processor (`square`, `clover`, …), so the pay page builds the right card source without a separate lookup. Null if the merchant is gone.",
            "type": [
              "string",
              "null"
            ]
          },
          "return_to": {
            "type": [
              "string",
              "null"
            ]
          },
          "session_status": {
            "description": "Named for the object it describes: the CHARGE has its own `status` below.",
            "enum": [
              "open",
              "complete",
              "expired"
            ],
            "type": "string"
          },
          "success_message": {
            "type": [
              "string",
              "null"
            ]
          },
          "tokenization": {
            "anyOf": [
              {
                "additionalProperties": false,
                "properties": {
                  "environment": {
                    "enum": [
                      "sandbox",
                      "production"
                    ],
                    "type": "string"
                  },
                  "location_id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "processor": {
                    "type": "string"
                  },
                  "public_key": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "The browser-side, PUBLISHABLE tokenization key for this merchant (Square app id + seller location, or Clover PAKMS public key), computed in `environment`. Null when the processor needs none or the config is incomplete. Same shape as the merchant status endpoint."
          },
          "voice": {
            "description": "The payment line reads these three from this session read, not the checkout token. `voice` is the merchant's matched TTS descriptor (or null for the default voice); `success_message`/`failure_message` are the developer's create_checkout closing lines, spoken by the line at charge success / decline. All null when unset.",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "CreateCheckoutRequest": {
        "additionalProperties": false,
        "properties": {
          "amount_cents": {
            "description": "Required only when there is no `order_id`. Never trusted over an order.",
            "type": "number"
          },
          "caller_phone": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "failure_message": {
            "description": "Spoken after a failed one.",
            "type": "string"
          },
          "merchant_id": {
            "description": "The merchant, when the caller knows it (a developer integrating over REST).",
            "type": "string"
          },
          "merchant_number": {
            "description": "The merchant's own dialed number, when the caller knows the CALL but not the merchant (the transfer tool). Resolved to a merchant within the authed vendor; an unregistered number is an inaudible `none`, not an error (R13c-ii).",
            "type": "string"
          },
          "metadata": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Your own key/value pairs. Opaque to Ringup: stored, echoed, never interpreted.",
            "type": "object"
          },
          "order_id": {
            "description": "The merchant's POS order. THE amount authority when present.",
            "type": "string"
          },
          "platform_call_id": {
            "description": "The voice platform's id for this call. Functional, not metadata: we call the platform with it to verify caller attestation. Recommended.",
            "type": "string"
          },
          "return_to": {
            "description": "Where to send the caller back after payment.",
            "type": "string"
          },
          "success_message": {
            "description": "Spoken after a successful payment.",
            "type": "string"
          }
        },
        "required": [
          "caller_phone"
        ],
        "type": "object"
      },
      "CreateCheckoutResponse": {
        "additionalProperties": false,
        "properties": {
          "agent_message": {
            "description": "The one line a voice agent should say for this outcome, so the transfer tool never invents copy: \"no payment is needed\", \"transferring you now\", or \"payment is unavailable\" all come from here (R13c-ii). Errors carry the same field under `error.agent_message`.",
            "type": "string"
          },
          "amount_cents": {
            "description": "What we RESOLVED. Under the order model the total is derived, so we must return it.",
            "type": "number"
          },
          "amount_source": {
            "description": "Where the total came from, so a derived amount is visibly derived.",
            "enum": [
              "order",
              "request"
            ],
            "type": "string"
          },
          "cards": {
            "description": "Cards chargeable AT THIS MERCHANT, newest first. Handle-aware, not merely silo-aware: a Clover card enrolled at merchant A has no charge handle at merchant B, and offering it would fail at charge after the caller had already agreed to it. Empty means text a link.",
            "items": {
              "$ref": "#/components/schemas/SavedCard"
            },
            "type": "array"
          },
          "checkout_session_id": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "default_card_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "expires_at": {
            "type": "string"
          },
          "merchant_id": {
            "description": "The merchant this resolved to, echoed back. Useful when the caller passed a `merchant_number` and wants to know which merchant it matched; empty string when no merchant resolved (an inaudible `none`, R13c-ii).",
            "type": "string"
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ]
          },
          "payment_required": {
            "$ref": "#/components/schemas/PaymentRequired"
          },
          "transfer_to": {
            "description": "Null unless payment is required. Nothing to transfer to means do not transfer.",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "CreateWebhookEndpointRequest": {
        "additionalProperties": false,
        "properties": {
          "events": {},
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateWebhookEndpointResponse": {
        "additionalProperties": false,
        "properties": {
          "events": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ]
          },
          "signing_secret": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "webhook_endpoint_id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorCode": {
        "enum": [
          "invalid_json",
          "missing_required_fields",
          "invalid_value",
          "invalid_key",
          "vendor_not_provisioned",
          "merchant_not_found",
          "merchant_not_connected",
          "invalid_processor",
          "invalid_credentials",
          "invalid_payment_policy",
          "invalid_payment_policy_amount_cents",
          "session_not_found",
          "session_expired",
          "session_create_failed",
          "session_missing_consumer",
          "missing_checkout_session_id",
          "order_lookup_failed",
          "order_lookup_unsupported",
          "instrument_not_found",
          "instrument_not_authorized",
          "missing_instrument_fields",
          "processor_mismatch",
          "needs_enrollment",
          "charge_details_mismatch",
          "card_save_failed",
          "card_declined",
          "processor_unavailable",
          "merchant_credentials_invalid",
          "invalid_vault",
          "key_not_found",
          "invalid_environment",
          "invalid_url",
          "invalid_events",
          "invalid_ttl",
          "invalid_state_key",
          "not_found",
          "not_configured",
          "rate_limit",
          "internal_error"
        ],
        "type": "string"
      },
      "ErrorType": {
        "enum": [
          "invalid_request_error",
          "authentication_error",
          "permission_error",
          "card_error",
          "processor_error",
          "idempotency_error",
          "rate_limit_error",
          "api_error"
        ],
        "type": "string"
      },
      "IdentifiedConsumer": {
        "additionalProperties": false,
        "properties": {
          "email": {
            "description": "For the merchant's own workflows (receipts, follow-ups). Not for the agent to say aloud.",
            "type": [
              "string",
              "null"
            ]
          },
          "first_name": {
            "description": "Stored as parts because the pay page collects them as parts.",
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "type": "string"
          },
          "last_name": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "IdentifyRequest": {
        "additionalProperties": false,
        "description": "The wire contracts.\n\nOne name per concept. One card shape everywhere. Every response echoes your own identifiers, so reconciling a payment never needs a second call.",
        "properties": {
          "caller_phone": {
            "description": "E.164. The body is the ONLY place this lives: a header carried no cryptographic guarantee (it is unsigned, so it is safer only against the model, not against a caller), and one value in two places is an ambiguity every consumer has to reason about.",
            "type": "string"
          }
        },
        "required": [
          "caller_phone"
        ],
        "type": "object"
      },
      "IdentifyResponse": {
        "additionalProperties": false,
        "properties": {
          "consumer": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/IdentifiedConsumer"
              },
              {
                "type": "null"
              }
            ]
          },
          "known": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ListWebhookEndpointsResponse": {
        "additionalProperties": false,
        "properties": {
          "webhook_endpoints": {
            "items": {
              "$ref": "#/components/schemas/WebhookEndpointSummary"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PaymentRequired": {
        "enum": [
          "required",
          "optional",
          "none"
        ],
        "type": "string"
      },
      "SavedCard": {
        "additionalProperties": false,
        "properties": {
          "brand": {
            "type": "string"
          },
          "expiry": {
            "type": "string"
          },
          "instrument_id": {
            "description": "The value `charge` requires.",
            "type": "string"
          },
          "last_four": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SendLinkRequest": {
        "additionalProperties": false,
        "properties": {
          "checkout_session_id": {
            "description": "The only input. Caller, merchant, amount and verdict all come from the session, so a link can never carry a total nobody derived from an order.",
            "type": "string"
          }
        },
        "required": [
          "checkout_session_id"
        ],
        "type": "object"
      },
      "SendLinkResponse": {
        "additionalProperties": false,
        "properties": {
          "checkout_session_id": {
            "type": "string"
          },
          "merchant_id": {
            "type": "string"
          },
          "order_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "pay_url": {
            "type": "string"
          },
          "payment_required": {
            "$ref": "#/components/schemas/PaymentRequired"
          },
          "platform_call_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "sent": {
            "description": "False when a repeat send inside the dedupe window returned a link WITHOUT texting. Without this a retrying agent tells the caller \"I've texted you\" when nothing went out.",
            "type": "boolean"
          },
          "short_url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebhookEndpointSummary": {
        "additionalProperties": false,
        "properties": {
          "created_at": {
            "type": "string"
          },
          "events": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "null means every event type."
          },
          "url": {
            "type": "string"
          },
          "webhook_endpoint_id": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  },
  "paths": {
    "/v1/identify": {
      "post": {
        "operationId": "identify",
        "summary": "Recognize a caller",
        "description": "Look a caller up by phone number. Returns who they are, never what they can pay with: cards depend on a merchant this endpoint never sees.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyRequest"
              },
              "example": {
                "caller_phone": "+14155550142"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentifyResponse"
                },
                "example": {
                  "known": true,
                  "consumer": {
                    "id": "con_c0325fbd",
                    "first_name": "Dana",
                    "last_name": "Whitfield",
                    "email": "dana@example.com"
                  }
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json` The request body is not valid JSON.\n\n`missing_required_fields` A required parameter is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "invalid_json": {
                    "summary": "The request body is not valid JSON.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "invalid_json",
                        "audience": "developer",
                        "message": "The request body is not valid JSON.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_json",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  },
                  "missing_required_fields": {
                    "summary": "A required parameter is missing.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "missing_required_fields",
                        "audience": "developer",
                        "message": "A required parameter is missing.",
                        "param": "caller_phone",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#missing_required_fields",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "invalid_key": {
                    "summary": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                    "value": {
                      "error": {
                        "type": "authentication_error",
                        "code": "invalid_key",
                        "audience": "developer",
                        "message": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_key",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/create_checkout": {
      "post": {
        "operationId": "createCheckout",
        "summary": "Create a checkout session",
        "description": "Resolve the amount, apply the merchant's payment policy, and return the transfer target when payment is required.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutRequest"
              },
              "example": {
                "merchant_number": "+14155550100",
                "caller_phone": "+14155550142",
                "order_id": "8QK4M2XJ",
                "platform_call_id": "call_7c2a91e4",
                "return_to": "https://example.com/calls/7c2a91e4",
                "success_message": "You're all set. Your order will be ready in about ten minutes.",
                "failure_message": "That card did not go through. I can text you a link instead.",
                "metadata": {
                  "ticket": "4821"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCheckoutResponse"
                },
                "example": {
                  "checkout_session_id": "cs_453b5401286d0f80",
                  "merchant_id": "mch_4f2c9a1b7e3d",
                  "agent_message": "Payment is ready. Transferring the caller now.",
                  "payment_required": "required",
                  "amount_cents": 1650,
                  "currency": "USD",
                  "amount_source": "order",
                  "transfer_to": "sip:eyJjIjoiKzE0MTU1NTUwMTQyIiwiYSI6MTY1MCwibSI6Im1jaF80ZjJjOWExYjdlM2QifQ.Xr7QpN2vK9sLd4TfA1mYc8BhE3wZ@transfer.ringup.dev",
                  "expires_at": "2026-07-21T18:34:12.000Z",
                  "cards": [
                    {
                      "instrument_id": "ins_9d21c7",
                      "brand": "VISA",
                      "last_four": "5858",
                      "expiry": "07/2028"
                    }
                  ],
                  "default_card_id": "ins_9d21c7",
                  "metadata": {
                    "ticket": "4821"
                  }
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json` The request body is not valid JSON.\n\n`missing_required_fields` A required parameter is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "invalid_json": {
                    "summary": "The request body is not valid JSON.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "invalid_json",
                        "audience": "developer",
                        "message": "The request body is not valid JSON.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_json",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  },
                  "missing_required_fields": {
                    "summary": "A required parameter is missing.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "missing_required_fields",
                        "audience": "developer",
                        "message": "A required parameter is missing.",
                        "param": "caller_phone",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#missing_required_fields",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "invalid_key": {
                    "summary": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                    "value": {
                      "error": {
                        "type": "authentication_error",
                        "code": "invalid_key",
                        "audience": "developer",
                        "message": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_key",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`merchant_not_found` No merchant with that id belongs to your account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "merchant_not_found": {
                    "summary": "No merchant with that id belongs to your account.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "merchant_not_found",
                        "audience": "developer",
                        "message": "No merchant with that id belongs to your account.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#merchant_not_found",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`order_lookup_unsupported` This processor cannot resolve an order total by reference.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "order_lookup_unsupported": {
                    "summary": "This processor cannot resolve an order total by reference.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "order_lookup_unsupported",
                        "audience": "developer",
                        "message": "This processor cannot resolve an order total by reference.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#order_lookup_unsupported",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "424": {
            "description": "`order_lookup_failed` The processor could not be reached to resolve the order total.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "order_lookup_failed": {
                    "summary": "The processor could not be reached to resolve the order total.",
                    "value": {
                      "error": {
                        "type": "processor_error",
                        "code": "order_lookup_failed",
                        "audience": "caller",
                        "message": "The processor could not be reached to resolve the order total.",
                        "advice_code": "try_again_later",
                        "agent_message": "I'm having trouble taking payment right now. Let me get someone to help you.",
                        "display_message": "I'm having trouble taking payment right now. Let me get someone to help you.",
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#order_lookup_failed",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout_sessions/{checkout_session_id}": {
      "get": {
        "operationId": "getCheckoutSession",
        "summary": "Retrieve a checkout session",
        "description": "Read a session and its charge. A lookup, so a decline reads as 200 with a failed charge.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "checkout_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionResponse"
                },
                "example": {
                  "session_status": "complete",
                  "payment_required": "required",
                  "amount_cents": 1650,
                  "currency": "USD",
                  "return_to": "https://example.com/calls/7c2a91e4",
                  "charge": {
                    "charge_id": "chg_77386e2f",
                    "status": "succeeded",
                    "amount_cents": 1650,
                    "processor_payment_id": "pay_9J2mQ7bK4dR"
                  },
                  "cards": [],
                  "default_card_id": null,
                  "caller_first_name": "Dana",
                  "environment": "live",
                  "processor": "square",
                  "business_name": "Blue Bottle Coffee",
                  "voice": "elevenlabs/eleven_turbo_v2_5:nPczCjzI2devNBz1zQrb",
                  "success_message": "You are all set, thanks for calling!",
                  "failure_message": "That card did not go through, I will text you a link.",
                  "tokenization": {
                    "processor": "square",
                    "public_key": "sq0idp-aB3xY7kLmN2pQ9rS",
                    "location_id": "L7Hns8P2M4Q1R",
                    "environment": "production"
                  },
                  "checkout_session_id": "cs_453b5401286d0f80",
                  "merchant_id": "mch_4f2c9a1b7e3d",
                  "order_id": "8QK4M2XJ",
                  "platform_call_id": "call_7c2a91e4",
                  "metadata": {
                    "ticket": "4821"
                  }
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "invalid_key": {
                    "summary": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                    "value": {
                      "error": {
                        "type": "authentication_error",
                        "code": "invalid_key",
                        "audience": "developer",
                        "message": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_key",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`not_found` No route matches this path and method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "not_found": {
                    "summary": "No route matches this path and method.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "not_found",
                        "audience": "developer",
                        "message": "No route matches this path and method.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#not_found",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge": {
      "post": {
        "operationId": "charge",
        "summary": "Charge a saved card",
        "description": "Charge the card the caller chose against an open Checkout Session. A decline is a 402 in the standard error envelope, not a 200 result.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargeRequest"
              },
              "example": {
                "checkout_session_id": "cs_453b5401286d0f80",
                "instrument_id": "ins_9d21c7"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                },
                "example": {
                  "status": "succeeded",
                  "amount_cents": 1650,
                  "currency": "USD",
                  "replay": false,
                  "charge_id": "chg_77386e2f",
                  "checkout_session_id": "cs_453b5401286d0f80",
                  "processor_payment_id": "pay_9J2mQ7bK4dR",
                  "merchant_id": "mch_4f2c9a1b7e3d",
                  "order_id": "8QK4M2XJ",
                  "platform_call_id": "call_7c2a91e4"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json` The request body is not valid JSON.\n\n`missing_required_fields` A required parameter is missing.\n\n`invalid_value` A parameter was present but its value is not acceptable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "invalid_json": {
                    "summary": "The request body is not valid JSON.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "invalid_json",
                        "audience": "developer",
                        "message": "The request body is not valid JSON.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_json",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  },
                  "missing_required_fields": {
                    "summary": "A required parameter is missing.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "missing_required_fields",
                        "audience": "developer",
                        "message": "A required parameter is missing.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#missing_required_fields",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  },
                  "invalid_value": {
                    "summary": "A parameter was present but its value is not acceptable.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "invalid_value",
                        "audience": "developer",
                        "message": "A parameter was present but its value is not acceptable.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_value",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "invalid_key": {
                    "summary": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                    "value": {
                      "error": {
                        "type": "authentication_error",
                        "code": "invalid_key",
                        "audience": "developer",
                        "message": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_key",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "`card_declined` The issuer declined the charge. `decline_code` carries the specific reason where the issuer gave one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "card_declined": {
                    "summary": "The issuer declined the charge. `decline_code` carries the specific reason where the issuer gave one.",
                    "value": {
                      "error": {
                        "type": "card_error",
                        "code": "card_declined",
                        "audience": "caller",
                        "message": "The issuer declined the charge. `decline_code` carries the specific reason where the issuer gave one.",
                        "decline_code": "insufficient_funds",
                        "advice_code": "try_again_later",
                        "agent_message": "That card was declined for insufficient funds. Would you like to try a different card?",
                        "display_message": "That card was declined for insufficient funds. Try another card.",
                        "agent_action": "offer_different_card",
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#card_declined",
                        "charge": "chg_77386e2f",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`instrument_not_authorized` That saved card does not belong to the caller on this session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "instrument_not_authorized": {
                    "summary": "That saved card does not belong to the caller on this session.",
                    "value": {
                      "error": {
                        "type": "permission_error",
                        "code": "instrument_not_authorized",
                        "audience": "developer",
                        "message": "That saved card does not belong to the caller on this session.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#instrument_not_authorized",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`session_not_found` No checkout session with that id belongs to your account.\n\n`instrument_not_found` No saved card with that id belongs to this caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "session_not_found": {
                    "summary": "No checkout session with that id belongs to your account.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "session_not_found",
                        "audience": "developer",
                        "message": "No checkout session with that id belongs to your account.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#session_not_found",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  },
                  "instrument_not_found": {
                    "summary": "No saved card with that id belongs to this caller.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "instrument_not_found",
                        "audience": "caller",
                        "message": "No saved card with that id belongs to this caller.",
                        "advice_code": "do_not_try_again",
                        "agent_message": "That card could not be processed. Would you like to try a different card?",
                        "display_message": "That card could not be processed. Would you like to try a different card?",
                        "agent_action": "offer_different_card",
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#instrument_not_found",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "`processor_mismatch` That saved card cannot be charged at this merchant, because it lives in a different processor's wallet.\n\n`charge_details_mismatch` This idempotency key was already used with different charge details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "processor_mismatch": {
                    "summary": "That saved card cannot be charged at this merchant, because it lives in a different processor's wallet.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "processor_mismatch",
                        "audience": "caller",
                        "message": "That saved card cannot be charged at this merchant, because it lives in a different processor's wallet.",
                        "advice_code": "do_not_try_again",
                        "agent_message": "I can text you a secure link to pay instead. Would that work?",
                        "display_message": "I can text you a secure link to pay instead. Would that work?",
                        "agent_action": "send_link",
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#processor_mismatch",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  },
                  "charge_details_mismatch": {
                    "summary": "This idempotency key was already used with different charge details.",
                    "value": {
                      "error": {
                        "type": "idempotency_error",
                        "code": "charge_details_mismatch",
                        "audience": "developer",
                        "message": "This idempotency key was already used with different charge details.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#charge_details_mismatch",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "`session_expired` The checkout session passed its expiry and can no longer be paid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "session_expired": {
                    "summary": "The checkout session passed its expiry and can no longer be paid.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "session_expired",
                        "audience": "developer",
                        "message": "The checkout session passed its expiry and can no longer be paid.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#session_expired",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`session_missing_consumer` The session has no caller identity attached, so no card can be selected.\n\n`merchant_not_connected` The merchant exists but has not finished connecting their payment processor, so no charge can settle.\n\n`merchant_credentials_invalid` The merchant's stored processor credentials were rejected, so nothing can settle.\n\n`needs_enrollment` The caller has no card on file usable at this merchant, so there is nothing to charge. Expected for a first-time caller at a per-merchant processor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "session_missing_consumer": {
                    "summary": "The session has no caller identity attached, so no card can be selected.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "session_missing_consumer",
                        "audience": "developer",
                        "message": "The session has no caller identity attached, so no card can be selected.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#session_missing_consumer",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  },
                  "merchant_not_connected": {
                    "summary": "The merchant exists but has not finished connecting their payment processor, so no charge can settle.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "merchant_not_connected",
                        "audience": "developer",
                        "message": "The merchant exists but has not finished connecting their payment processor, so no charge can settle.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#merchant_not_connected",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  },
                  "merchant_credentials_invalid": {
                    "summary": "The merchant's stored processor credentials were rejected, so nothing can settle.",
                    "value": {
                      "error": {
                        "type": "processor_error",
                        "code": "merchant_credentials_invalid",
                        "audience": "caller",
                        "message": "The merchant's stored processor credentials were rejected, so nothing can settle.",
                        "advice_code": "do_not_try_again",
                        "agent_message": "I'm not able to take payment on this line right now.",
                        "display_message": "This business cannot take payment right now.",
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#merchant_credentials_invalid",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  },
                  "needs_enrollment": {
                    "summary": "The caller has no card on file usable at this merchant, so there is nothing to charge. Expected for a first-time caller at a per-merchant processor.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "needs_enrollment",
                        "audience": "caller",
                        "message": "The caller has no card on file usable at this merchant, so there is nothing to charge. Expected for a first-time caller at a per-merchant processor.",
                        "advice_code": "do_not_try_again",
                        "agent_message": "I can text you a secure link to pay instead. Would that work?",
                        "display_message": "I can text you a secure link to pay instead. Would that work?",
                        "agent_action": "send_link",
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#needs_enrollment",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "424": {
            "description": "`processor_unavailable` The merchant's payment processor is unreachable or returned a server error, so the outcome of this charge is UNKNOWN. It may still have settled. Not a Ringup outage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "processor_unavailable": {
                    "summary": "The merchant's payment processor is unreachable or returned a server error, so the outcome of this charge is UNKNOWN. It may still have settled. Not a Ringup outage.",
                    "value": {
                      "error": {
                        "type": "processor_error",
                        "code": "processor_unavailable",
                        "audience": "caller",
                        "message": "The merchant's payment processor is unreachable or returned a server error, so the outcome of this charge is UNKNOWN. It may still have settled. Not a Ringup outage.",
                        "advice_code": "try_again_later",
                        "agent_message": "I'm still confirming that payment. I'll send you a confirmation as soon as it comes through.",
                        "display_message": "We are still confirming this payment. Do not pay again: we will send a confirmation as soon as it comes through.",
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#processor_unavailable",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "`rate_limit` Too many requests in a short window.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "rate_limit": {
                    "summary": "Too many requests in a short window.",
                    "value": {
                      "error": {
                        "type": "rate_limit_error",
                        "code": "rate_limit",
                        "audience": "caller",
                        "message": "Too many requests in a short window.",
                        "advice_code": "try_again_later",
                        "agent_message": "I'm having trouble taking payment right now. Let me get someone to help you.",
                        "display_message": "Too many attempts just now. Please wait a moment and try again.",
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#rate_limit",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/send_link": {
      "post": {
        "operationId": "sendLink",
        "summary": "Send a pay link",
        "description": "Text the caller a pay link for an open Checkout Session. Repeat sends inside a short window return the link with `sent: false` rather than texting twice.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendLinkRequest"
              },
              "example": {
                "checkout_session_id": "cs_453b5401286d0f80"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendLinkResponse"
                },
                "example": {
                  "sent": true,
                  "pay_url": "https://ringup.dev/pay/link/?t=eyJhbGciOi...",
                  "short_url": "https://ringup.dev/l/k7m2xq",
                  "payment_required": "required",
                  "checkout_session_id": "cs_453b5401286d0f80",
                  "merchant_id": "mch_4f2c9a1b7e3d",
                  "order_id": "8QK4M2XJ",
                  "platform_call_id": "call_7c2a91e4"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json` The request body is not valid JSON.\n\n`missing_required_fields` A required parameter is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "invalid_json": {
                    "summary": "The request body is not valid JSON.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "invalid_json",
                        "audience": "developer",
                        "message": "The request body is not valid JSON.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_json",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  },
                  "missing_required_fields": {
                    "summary": "A required parameter is missing.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "missing_required_fields",
                        "audience": "developer",
                        "message": "A required parameter is missing.",
                        "param": "checkout_session_id",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#missing_required_fields",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "invalid_key": {
                    "summary": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                    "value": {
                      "error": {
                        "type": "authentication_error",
                        "code": "invalid_key",
                        "audience": "developer",
                        "message": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_key",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`session_not_found` No checkout session with that id belongs to your account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "session_not_found": {
                    "summary": "No checkout session with that id belongs to your account.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "session_not_found",
                        "audience": "developer",
                        "message": "No checkout session with that id belongs to your account.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#session_not_found",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "`not_configured` A required backend dependency is not configured in this environment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "not_configured": {
                    "summary": "A required backend dependency is not configured in this environment.",
                    "value": {
                      "error": {
                        "type": "api_error",
                        "code": "not_configured",
                        "audience": "caller",
                        "message": "A required backend dependency is not configured in this environment.",
                        "advice_code": "try_again_later",
                        "agent_message": "I'm having trouble taking payment right now. Let me get someone to help you.",
                        "display_message": "I'm having trouble taking payment right now. Let me get someone to help you.",
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#not_configured",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook_endpoints": {
      "post": {
        "operationId": "createWebhookEndpoint",
        "summary": "Create a webhook endpoint",
        "description": "Register an HTTPS endpoint for signed events. The signing secret is returned once.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookEndpointRequest"
              },
              "example": {
                "url": "https://example.com/webhooks/ringup",
                "events": [
                  "checkout.succeeded",
                  "checkout.failed"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWebhookEndpointResponse"
                },
                "example": {
                  "webhook_endpoint_id": "wh_2b6f14ac",
                  "url": "https://example.com/webhooks/ringup",
                  "events": [
                    "checkout.succeeded",
                    "checkout.failed"
                  ],
                  "signing_secret": "whsec_example_not_a_real_secret"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json` The request body is not valid JSON.\n\n`invalid_url` The webhook URL is missing or not a valid https URL.\n\n`invalid_events` `events` contains an unsupported event type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "invalid_json": {
                    "summary": "The request body is not valid JSON.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "invalid_json",
                        "audience": "developer",
                        "message": "The request body is not valid JSON.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_json",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  },
                  "invalid_url": {
                    "summary": "The webhook URL is missing or not a valid https URL.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "invalid_url",
                        "audience": "developer",
                        "message": "The webhook URL is missing or not a valid https URL.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_url",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  },
                  "invalid_events": {
                    "summary": "`events` contains an unsupported event type.",
                    "value": {
                      "error": {
                        "type": "invalid_request_error",
                        "code": "invalid_events",
                        "audience": "developer",
                        "message": "`events` contains an unsupported event type.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_events",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "invalid_key": {
                    "summary": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                    "value": {
                      "error": {
                        "type": "authentication_error",
                        "code": "invalid_key",
                        "audience": "developer",
                        "message": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_key",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listWebhookEndpoints",
        "summary": "List webhook endpoints",
        "description": "List your registered webhook endpoints. Secrets are never returned again.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhookEndpointsResponse"
                },
                "example": {
                  "webhook_endpoints": [
                    {
                      "webhook_endpoint_id": "wh_2b6f14ac",
                      "url": "https://example.com/webhooks/ringup",
                      "events": [
                        "checkout.succeeded",
                        "checkout.failed"
                      ],
                      "created_at": "2026-07-20T15:02:44.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`invalid_key` The API key is missing, malformed, revoked, or does not match the mode of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                },
                "examples": {
                  "invalid_key": {
                    "summary": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                    "value": {
                      "error": {
                        "type": "authentication_error",
                        "code": "invalid_key",
                        "audience": "developer",
                        "message": "The API key is missing, malformed, revoked, or does not match the mode of the resource.",
                        "advice_code": "do_not_try_again",
                        "agent_message": null,
                        "display_message": null,
                        "agent_action": null,
                        "doc_url": "https://docs.ringup.dev/api-reference/error-codes#invalid_key",
                        "request_id": "req_8f3c1d2ab4e9"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
